/* forgotPassword.css */
.forgot-password-container-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forgot-password-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgot-password-header {
  text-align: center;
}

.forgot-password-header h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.forgot-password-form {
  margin-top: 20px;
}

.input-field {
  margin-bottom: 15px;
}

.input-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reset-password-btn {
  width: 100%;
  padding: 10px;
  background-color: #1b98e0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-password-btn:hover {
  background-color: #0e77aa;
}

.login-link {
  margin-top: 15px;
  text-align: center;
}

.login-link a {
  color: #1b98e0;
}
