/* Layer 1: Styles for the top section of the homepage */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Protest+Revolution&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
.home-container {
  background-color: aliceblue;
}
.home-container-top {
  height: 90vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.home-container-top-wrapper {
  position: relative;
  bottom: 33px;
  width: 95%;
  height: 400px;
  display: flex;
  background-color: #90e0ef;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  color: white;
}

.home-container-top-wrapper-left {
  text-align: start;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  height: 100%;
  width: 60%;
}

/* Style for the heading */
.home-container-top-wrapper-left h1 {
  color: #03045e;
  font-size: 36px;
  font-weight: bold;
  margin-top: 25px;
  margin-left: 15px;
  margin-bottom: 20px; /* Adds some space below the heading */
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Style for the paragraph */
.home-container-top-wrapper-left p {
  margin-left: 12px;
  font-size: 18px;
  line-height: 1.5; /* Sets the line height to improve readability */
  color: #0d1b2a; /* Medium gray color */
  margin-bottom: 30px; /* Adds more space below the paragraph */
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.home-container-top-bottom-head {
  font-size: 20px;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.home-container-top-wrapper-right {
  height: 100%;
  width: 40%;
  background-image: url("D:\advanced-app-development\Advanced App development\my-app\src\assets\Images\home-top.jpg");
  background-position: center;
  background-size: cover;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.home-down-arrow {
  /* position: relative; */
  /* top: 20px; */
  width: 23px;
  height: 23px;
  border: 2px solid #333;
  border-left: 0;
  border-top: 0;
  transition: border 300ms ease-in-out;
  transform: rotate(45deg);
}

/* Layer 2: Styles for the heading */
.home-h1 {
  font-family: "Outfit", sans-serif;
  font-size: 80px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  animation: slideInFromLeft 1.5s ease-out forwards;
}

/* Layer 2: Styles for the subheading */
.protest-revolution-regular {
  font-size: 40px;
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
  animation: slideInFromLeft 1.5s ease-out forwards;
}

/* Layer 2: Styles for the button */

/* CSS */
/* CSS */
.home-button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.home-button:active,
.home-button:hover {
  outline: 0;
}

.home-button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.home-button:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

/* Keyframes for animation */
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Layer 3: Styles for the card container */
.card-container {
  height: 60vh;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

/* Layer 3: Styles for the cards */
.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 400px;
  height: 300px;
  background-color: #ccc;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: box-shadow 500ms ease-in-out;
}

/* Layer 4: Styles for card headings */
.card h3 {
  font-size: 16px;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Layer 4: Hover effect for cards */
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Layer 3: Styles for card images */
.home-img {
  height: 60%;
  width: 80%;
}

/* Layer 5: Styles for the middle section wrapper */
.home-middle-container-wrapper {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
}

/* Layer 6: Styles for the first middle container */
.home-middle-container-first {
  height: 60vh;
  width: 100%;
  display: flex;
  padding-bottom: 20px;
}

/* Layer 7: Styles for the first content section */
.home-content-1 {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.home-content-2 {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Layer 8: Styles for the first image container */
.middle-img-container-1 {
  width: 40%;
}

/* Layer 7: Styles for the first content container */
.home-content-container-1 {
  height: 40vh;
  width: 50%;
  padding: 10px;
  position: relative;
  right: 70px;
}

/* Layer 7: Styles for the second content container */
.home-content-container-2 {
  height: 40vh;
  width: 50%;
  padding: 10px;
  position: relative;
  left: 70px;
}

/* Layer 8: Styles for the second image container */
.middle-img-container-2 {
  width: 40%;
}

/* Layer 9: Reverse layout for the second child container */
.home-middle-container-wrapper
  .home-middle-container-first:nth-child(2)
  .home-content-1 {
  order: 2; /* Reverse the order of content and image */
}

/* Layer 9: Reverse layout for the second child container */
.home-middle-container-wrapper
  .home-middle-container-first:nth-child(2)
  .middle-img-container-1 {
  order: 1; /* Reverse the order of content and image */
}

/* Layer 7: Styles for content headings */
.home-content-container-1 h1,
.home-content-container-2 h1 {
  font-size: 30px;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Layer 7: Styles for content paragraphs */
.home-content-container-1 p,
.home-content-container-2 p {
  margin-top: 30px;
  line-height: 1.5;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Layer 7: Styles for the first image */
.middle-img-container-1-img,
.middle-img-container-2-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
}

.about-container {
  padding: 20px;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f3f4; /* Change the background color as needed */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about-container-wrapper {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.about-container-header {
  text-align: center;
}

.about-container-header h1 {
  font-size: 2rem; /* Adjust font size as needed */
  margin-bottom: 10px;
}

.about-container-header p {
  font-size: 1rem; /* Adjust font size as needed */
}

.about-container-body {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.about-container-card {
  margin-top: 25px;
  width: 150px; /* Adjust card width as needed */
  height: 150px; /* Adjust card height as needed */
  background-color: #ffffff; /* Change card background color as needed */
  border-radius: 50%; /* To make the cards round */
  margin-left: 30px;
}

.contact-container {
  height: 80vh;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.contact-top {
  /* background-color: #edede9; */
  width: 100%;
  display: flex;
  height: 40vh;
}

.contact-top-header {
  width: 60%;
}
.contact-head-wrapper {
  position: relative;
  top: 60px;
  left: 60px;
}
.contact-head-wrapper h1 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.contact-head-wrapper p {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.contact-top-img {
  background-image: url("D:\advanced-app-development\Advanced App development\my-app\src\assets\Images\charanjeet-dhiman-mHusyBu4bxM-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 200px;
}

.contact-bottom {
  background-color: white;
  height: 40vh;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contact-bottom-card {
  padding: 20px;
  position: relative;
  bottom: 80px;
  background-color: white;
  transition: box-shadow 1s ease-in-out;
  width: 35%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.contact-bottom-card-wrapper {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* text-align: center; */
}
.contact-bottom-card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.contact-bottom-card-wrapper p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  padding: 10px;
  border-radius: 5px;
}

/* CSS */

/* CSS */
.contact-link-bottom-card {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.contact-link-bottom-card:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.contact-link-bottom-card:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.contact-link-bottom-card:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.about-container-card img {
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.about-container-card img:hover {
  width: 155px;
  height: 155px;
}
.contact-icons {
  width: 90%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.con-icon {
  font-size: 54px;
  padding: 5px;
}
