@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Protest+Revolution&display=swap');
.home-container{
    height: 90vh;
    width: 100%;
    /* background-image: url("D:\advanced-app-development\Advanced App development\my-app\src\assets\Images\pexels-martin-mariani-3801516.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.home-h1 {
    font-family: "Outfit", sans-serif;
    font-size: 80px;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
  }
  .protest-revolution-regular {
    font-size: 40px;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.home-button{
    padding: 16px 50px;
    background-color: orangered;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}