@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Protest+Revolution&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.navbar {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:black;
  color: #fff;
  padding: 10px 20px;
  padding: 10px;
}

.navbar-left,
.navbar-right {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-left p{
  position: relative;
  margin-left: 25px;
  font-size: 24px;
}
.navbar-left span{
  color:orangered;
}

.navbar-center {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 16px;
  gap: 30px; 
  width: 50%;
  /* background-color: rgb(44, 40, 40); */
  height: 100%;
}

.navbar-center li {
  font-size: 18px;
}

.navbar-center li a {
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  transition: background-color 1 ease-in-out;
}
.navbar-center li a:hover {
    background-color: orangered;
    color: #fff;
    border: none;
    border-radius: 5px;
    /* padding: 8px 16px; */
    cursor: pointer;
}

.logout-btn {
  background-color: orangered;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 28px;
  cursor: pointer;
  margin-right: 20px;
}

.logout-btn:hover {
  background-color: #0056b3;
}
