/* Profile.css */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:200,400,600&display=swap');

/* Container for the entire profile */
.profile-container {
  background-color: #253237;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.profile-card {
  width: 400px;
  height: 600px;
  box-shadow: 0px 0px 5px rgba(0,0,0,1);
  border-radius: 4px;
  overflow: hidden; /* Ensure that the gradient doesn't overflow */
  transition: box-shadow 0.5s ease-in-out;
  animation: slideInFromLeft 1.5s ease-out forwards;
}

.profile-card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.gradient-container {
  background-color: aliceblue ;
  display: flex;
  justify-content: space-between;
  /* background-image: url("D:\task-manager-app\src\base-apperal-comming-soon\img\ian-stauffer-bH7kZ0yazB0-unsplash.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 150px;
  /* border-radius: 4px 4px 0 0;   */
}


.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image img {
  height: 120px;
  width: 120px;
  margin-top: -60px;
  border-radius: 50%;
  padding: 5px;
  background-color: white;
}


/* Add this to your existing CSS file or create a new one */
.navbar-right button{
  background-color: transparent;
  border: none;
  color: white;
}.profile-info {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 20px;
}

.info-row {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  align-items: center; /* Align items vertically in the center */
}

.info-row p {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.info-row-data {
  flex-grow: 1; /* Allow the right data to grow and take up remaining space */
  display: flex;
  margin-left: 19px;
}

.info-row-data p {
  word-wrap: break-word; /* Allow long words to break and wrap */
}


.profile-bottom {
  background-color: aliceblue;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-bottom-btn {
  height: 40px;
  width: 50%;
  border-radius: 20px;
  border: none;
  background-color: orangered;
  transition: background-color 0.6s ease-in-out;
}
.profile-bottom-btn:hover{
  background-color: red;
}

/* Add more styling as needed */



@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translatey(-100%);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}