.empty-table-image-container {
  height: 80vh;
  width: 100%;
  display: flex;
}

.empty-table-image-container-left {
  height: 70vh;
  width: 50%;
  background-image: url("D:\advanced-app-development\Advanced App development\my-app\src\assets\Images\instructorPageImgages\empty-table.jpg");
  background-position: center;
  background-size: cover;
}

.empty-table-image-container-left {
  height: 70vh;
  width: 50%;
}

.empty-table-image-container-right h1 {
  font-size: 60px;
  color: #004e89;
}

.empty-table-image-container-right {
  height: 70vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/* teacherPage.css */
.table-container {
  /* margin-top: 20px; */
  /* height: 120vh; */
  width: 100%;
  padding: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  padding: 24px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word;
  /* Ensure long words wrap within the cell */
}

th {
  background-color: #4CAF50;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.query-reply {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.query-reply:hover {
  background-color: #45a049;
}

.empty-table-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.empty-table-image-container-left {
  flex: 1;
}

.empty-table-image-container-right {
  flex: 1;
  text-align: center;
}

.goBack {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.goBack:hover {
  background-color: #d80000;
}